<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<!-- Form to add a new product (POST request) -->
<h2>Sign Up</h2>
<form th:action="@{/api/signup}" method="post">
    <label for="email">UserID:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>