<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <style>
      .container {
        max-width: 560px;
      } </style>
</head>

<body>

<div>

    <div class="text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <h4>상품 입력</h4>
    <hr>
    <form th:action="@{/external/products/add}" method="post" th:object="${product}">
        <table>
            <tr>
                <td>상품명 :</td>
                <td><input type="text" th:field="*{name}" placeholder="이름을 입력하세요"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>가격 :</td>
                <td><input type="text" th:field="*{price}" placeholder="가격을 입력하세요"/></td>
            </tr>
            <tr>
                <td>이미지 :</td>
                <td><input type="text" th:field="*{imageUrl}" placeholder="이미지 URL을 입력하세요"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">상품
                        등록</button> </td>
                <td>
                    <button th:onclick="|location.href='@{/external/products}'|"
                            type="button">취소</button> </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>