<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>상품 추가</h1>
<form th:action="@{/saveProduct}" th:object="${product}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}">
    <label>Price:</label>
    <input type="text" th:field="*{price}">
    <label>Image URL:</label>
    <input type="text" th:field="*{imageUrl}">
    <button type="submit">Save</button>
</form>
</body>
</html>
