<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
  <div class="container">
    <form action="/products/new" method="post">
      <div class="form-group">
        <h1><a href="/products">돌아 가기</a> </h1>
        <p><label for="name">이름</label>
          <input type="text" id="name" name="name" placeholder="상품 이름을 입력하세요">
        </p>
        <p><label for="price">가격</label>
          <input type="text" id="price" name="price" placeholder="가격을 입력하세요">
        </p>
        <p><label for="imageUrl">이미지</label>
          <input type="text" id="imageUrl" name="imageUrl" placeholder="이미지 URL을 입력하세요">
        </p>
      </div>
      <button type="submit">등록</button>
      <button type="reset">취소</button>
    </form>
  </div> <!-- /container -->
  </body>
</html>