<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Product</title>
</head>
<body>
<h1>Create Product</h1>
<form th:action="@{/products}" th:object="${product}" method="post">
  <div>
    <label>Name:</label>
    <input type="text" th:field="*{name}" />
  </div>
  <div>
    <label>Image URL:</label>
    <input type="text" th:field="*{imageUrl}" />
  </div>
  <div>
    <label>Price:</label>
    <input type="text" th:field="*{price}" />
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
</body>
</html>
