<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품 수정 화면</title>
</head>
<body>
<form method="post" th:object="${product}" th:action="@{'/products/edit/' + ${id}}">
    <input type="hidden" name="_method" value="put">
    <div>
        <label for="id">상품 ID</label>
        <input type="text" id="id" name="id" class="form-control" value="1" th:value="${id}"
               readonly>
    </div>
    <div>
        <label for="name">상품명</label>
        <input type="text" id="name" name="name" class="form-control" value="이름" th:value="${product.name}"> </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               value="10000" th:value="${product.price}" >
    </div>
    <div>
        <label for="imgUrl">사진 링크</label>
        <input type="text" id="imgUrl" name="imgUrl" class="form-control" value="10" th:value="${product.imgUrl}">
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='item.html'"
                    th:onclick="|location.href='@{/items'|"
                    type="button">취소</button> </div>
    </div>
</form>
</body>
</html>
