<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-4">Home</h1>
  <div>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
    <a href="/products" class="btn btn-primary">Products</a>
    <a href="/wishes" class="btn btn-primary">Wish List</a>
  </div>
</div>
</body>
</html>