<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Management System</title>
</head>
<body>
<h1>Products List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.value.id}"></td>
    <td th:text="${product.value.name}"></td>
    <td th:text="${product.value.price}"></td>
    <td th:text="${product.value.imageUrl}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>