<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <script>
    async function login(event) {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const message = document.getElementById('message');

        const response = await fetch('/login/token', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
        });

        const result = await response.json();

        if (response.ok) {
            message.textContent = '로그인 되었습니다. Access token: ' + result.accessToken;
            message.style.color = 'green';
        } else {
            message.textContent = result.message
            message.style.color = 'red';
        }
    }
  </script>
</head>
<body>
<h2>로그인</h2>
<form onsubmit="login(event)">
  <div>
    <label for="email" >Email:</label>
    <input type="email" id="email" name="email" placeholder="이메일을 입력하세요"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"/>
  </div>
  <div>
    <button type="submit">Login</button><a href="/register">회원가입하러 가기</a>
  </div>
  <div id="message"></div>
</form>
</body>
</html>
