<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Manage Products</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="/js/main.js" defer></script>
</head>
<body>
<div class="container">
  <h1>New Product</h1>
  <div th:if="${nameError}" class="alert-message" th:text="${nameError}" style="display: none;"></div>
  <div th:if="${priceError}" class="alert-message" th:text="${priceError}" style="display: none;"></div>
  <div th:if="${imageUrlError}" class="alert-message" th:text="${imageUrlError}" style="display: none;"></div>
  <div class="outer-form">
    <form action="/products" method="post">
      <div class="inner-form">
        <!-- null 입력을 테스트하기 위해 required 제거 -->
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="price">Price</label>
        <input type="text" id="price" name="price"> <!-- 잘못된 타입 입력을 테스트 하기 위해 number에서 text로 변경 -->
        <label for="imageUrl">Image URL</label>
        <input type="text" id="imageUrl" name="imageUrl">
      </div>
      <div class="button-group">
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/products" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
