<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product List</title>
</head>
<body>

<!-- 네비게이션 바를 포함합니다 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>


<h1>Product List</h1>
<a href="/web/products/add">Add New Product</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}">1</td>
    <td th:text="${product.name}">Name</td>
    <td th:text="${product.price}">Price</td>
    <td><img th:src="${product.imageUrl}" alt="product image" width="100"/></td>
    <td>
      <a th:href="@{/web/products/detail/{id}(id=${product.id})}">View</a>
      <a th:href="@{/web/products/edit/{id}(id=${product.id})}">Edit</a>
      <a th:href="@{/web/products/delete/{id}(id=${product.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
