<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리 페이지</title>
</head>
<body>
<h1>상품 관리 페이지</h1>

<h2>새 상품 추가</h2>
<form action="/product/register" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" required>
    </div>
    <div>
        <label for="imageUrl">Image URL</label>
        <input type="text" id="imageUrl" name="imageUrl" required>
    </div>
    <div>
        <button type="submit">등록</button>
    </div>
</form>

<h2>상품 조회</h2>
<form action="/product/search" method="get">
    <div>
        <label for="keyword">조회하고자 하는 상품의 이름을 입력하세요: </label>
        <input type="text" id="keyword" name="keyword" required>
        <button type="submit">조회</button>
    </div>
</form>

<h2>조회 결과</h2>
<table id="searchResults">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image URL</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody th:each="sProduct : ${searchResults}">
    <tr>
        <form th:action="@{/product}" method="post">
            <input type="hidden" name="_method" value="put" />
            <td>
                <input type="number" id="s-product.id" name="id" th:value="${sProduct.id}" readonly />
            </td>
            <td>
                <input type="text" id="s-product.name" name="name" th:value="${sProduct.name}" />
            </td>
            <td>
                <input type="number" id="s-product.price" name="price" th:value="${sProduct.price}" />
            </td>
            <td>
                <input type="text" id="s-product.imageUrl" name="imageUrl" th:value="${sProduct.imageUrl}" />
            </td>
            <td>
                <button type="submit">수정</button>
            </td>
        </form>
        <td>
            <form th:action="@{/product/{id}(id=${sProduct.id})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2>전체 상품 목록</h2>
<table id="productList">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image URL</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody th:each="product : ${productList}">
    <tr>
        <form th:action="@{/product}" method="post">
            <input type="hidden" name="_method" value="put" />
            <td>
                <input type="number" id="product-id" name="id" th:value="${product.id}" readonly />
            </td>
            <td>
                <input type="text" id="product-name" name="name" th:value="${product.name}" />
            </td>
            <td>
                <input type="number" id="product-price" name="price" th:value="${product.price}" />
            </td>
            <td>
                <input type="text" id="product-imageUrl" name="imageUrl" th:value="${product.imageUrl}" />
            </td>
            <td>
                <button type="submit">수정</button>
            </td>
        </form>
        <td>
            <form th:action="@{/product/{id}(id=${product.id})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
