<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product List</title>
</head>
<body>
<h1>Product List</h1>
<a th:href="@{/admin/product/add}">Add New Product</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Image URL</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.value.id}"></td>
    <td th:text="${product.value.name}"></td>
    <td th:text="${product.value.price}"></td>
    <td th:text="${product.value.imageUrl}"></td>
    <td>
      <a th:href="@{/admin/product/edit/{id}(id=${product.value.id})}">Edit</a>
      <a th:href="@{/admin/product/delete/{id}(id=${product.value.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
