<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product Edit Form</title>
</head>
<body>
  <h1>Edit Product</h1>
  <form onsubmit="updateProduct()">
    <input type="hidden"/>
    <div>
      <label for="id">ID</label>
      <input type="number" id="id" th:value="${product.id}" required/>
    </div>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" th:value="${product.name}" required/>
    </div>
    <div>
      <label for="price">Price</label>
      <input type="number" id="price" th:value="${product.price}" required/>
    </div>
    <div>
      <label for="imageUrl">Image URL</label>
      <input type="text" id="imageUrl" th:value="${product.imageUrl}" required/>
    </div>
    <div>
      <button type="submit">Edit</button>
      <a th:href="@{/admin}">Cancel</a>
    </div>
  </form>
  <script>
      function updateProduct() {
          const id = document.getElementById('id').value;
          const name = document.getElementById('name').value;
          const price = document.getElementById('price').value;
          const imageUrl = document.getElementById('imageUrl').value;

          fetch(`/api/products/${id}`, {
              method: 'PATCH',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  id: id,
                  name: name,
                  price: price,
                  imageUrl: imageUrl })
          })
              .then(response => {
                  window.location.href = `/admin`;
              })
              .catch(error => {
                  console.error('Error:', error);
              });
      }
  </script>
</body>
</html>

