<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <script>
    async function registerUser(event) {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
        });

        if (response.ok) {
            alert('회원가입 되었습니다.');
            window.location.href = '/login.html';
        } else {
            const errorMessage = await response.text();
            console.error('회원가입 실패했습니다. ', errorMessage);
            alert('회원가입 실패했습니다. ' + errorMessage);
        }
    }
  </script>
</head>
<body>
<h2>회원가입</h2>
<form onsubmit="registerUser(event)">
  <div>
    <label for="email" >Email:</label>
    <input type="email" id="email" name="email" placeholder="이메일을 입력하세요"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"/>
  </div>
  <div>
    <button type="submit">회원가입하기</button><a href="/login">로그인하러 가기</a>
  </div>
  <div id="message1"></div>
</form>
</body>
</html>
