<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <div class="container">
      <form action="/products/search" method="post">
        <div class="form-group">
          <h1><a href="/products">돌아 가기</a> </h1>
          <p><label for="name">제목</label>
            <input type="text" id="name" name="name" placeholder="제목을 입력하세요">
          </p>
        </div>
        <button type="submit">검색</button>
        <button type="reset">취소</button>
      </form>
    </div> <!-- /container -->
  </body>
</html>