<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2>Sign Up</h2>
<form th:action="@{/signup}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <label>Role:</label>
        <input type="radio" id="admin" name="role" value="admin">
        <label for="admin">Admin</label>
        <input type="radio" id="md" name="role" value="md">
        <label for="md">MD</label>
        <input type="radio" id="user" name="role" value="user" checked>
        <label for="user">User</label>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
</body>
</html>
