<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품정보 수정</title>
</head>
<body>
  <h1>상품정보 수정</h1>
  <form action th:action="@{/api/products/update/{id}(id=${product.id})}" th:object="${product}" method="post">
    <label>이름: <input type="text" th:field="*{name}" /></label><br>
    <label>가격: <input type="text" th:field="*{price}" /></label><br>
    <label>이미지: <input type="text" th:field="*{imageUrl}" /></label><br>
    <button type="submit">수정하기</button>
  </form>
  <a href="/api/products">돌아가기</a>
</body>
</html>