<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <div class="container">
      <form th:action="@{/products/{uid}(uid = ${product.id})}" th:method="post">
        <div class="form-group">
          <h1><a href="/products">돌아 가기</a> </h1>
          <p><label for="name">이름</label>
            <input type="text" id="name" name="name" th:value="${product.name}" placeholder="이름을 입력하세요">
          </p>
          <p><label for="price">가격</label>
            <input type="text" id="price" name="price" th:value="${product.price}" placeholder="가격을 입력하세요">
          </p>
          <p><label for="imageUrl">가격</label>
            <input type="text" id="imageUrl" name="imageUrl" th:value="${product.imageUrl}" placeholder="이미지 URL 을 입력하세요">
          </p>
        </div>
        <button type="submit">수정</button>
        <button type="reset">취소</button>
      </form>
    </div> <!-- /container -->
  </body>
</html>